{% extends 'cms::master.twig' %}

{% block content %}

<ul class="tiles tiles-4">
  <li class="tile">
    <label>{{ __('System') }}</label>
  </li>
  <li class="tile">
    <label>{{ __('Extensions') }}</label>
  </li>
</ul>

  <a href="">{{ __('show packages') }} </a>
{% endblock %}
