{% set url = menu.getUrl(item) %}
{% set current = menu.isCurrent(item) %}
{% set active  = menu.isActive(item) %}
{% set level   = level + 1 %}

<li class="sb-item{{ active ? ' active' : ''}}{{ current ? ' current' : ''}}">
  <a href="{{ url }}">{{ __('sidebar.' ~ item.getName(), {}, 'menus') }}</a>

  {% if item.hasChildren() %}
    <div class="sub-items level-{{level}}">
      <ul>
        {% for child in item %}
          {% include 'cms:partials.sidebar:item.twig' with {'item' : child, 'menu' : menu, 'level': level } %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</li>
