<div class="sidebar">
  <header>
    <div class="sb-logo">
    {% autoescape false %}
      {{ icon }}
    {% endautoescape %}
    </div>
  </header>
  {# renders the sidebar items #}
  <div class="sb-section">
    <ul>
    {% for section in menu %}
        {% include 'cms:partials.sidebar:item.twig' with {'item' : section, 'menu' : menu, 'level' : 0 } %}
    {% endfor %}
    </ul>
  </div>
</div>
