{% extends 'cms::master.twig' %}

{% block content %}

{% set page_name = __('Page name') %}
{% set page_url = __('Uri') %}
{% set page_parent = __('Parent page') %}
{% set page_parameters = __('Parameters') %}

<form>
  <div class="form-element">
    <label for="page-name">{{ page_name }}</label>
    <input id="page-name" type="text" name="page-name"/> 
  </div>
  
  <hr/>

  <div class="form-element">
    <label for="page-url">{{ page_url }}</label>
    <input id="page-url" type="text" name="page-url"/> 
  </div>

  <div class="form-element">
    <label for="page-parameters">{{ page_parameters }}</label>
    <input id="page-url" type="text" name="page-url"/> 
  </div>


  <label for="page-parent-select">{{ page_parent }}</label>
  <select id="test">
    <option>this page</option>
    <option>that page</option>
  </select>
</form>

{% endblock %}
