{% extends 'cms:login:master.twig' %}

{% block content %}

<form action="" method="POST">
  <label for="login-email">Email</label>
  <input id="login-email" type="email" name="email"/>
  <label for="login-passwort">Password</label>
  <input id="login-password" type="password" name="password"/>

  <button type="submit">Login</button>
</form>

{% endblock %}
