<!DOCTYPE html>
<html>
  <head>
    <title>title</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

  </head>
  <body>

    <div class="container site-container" id="wrapper">
      <div class="content">{% block content %}
        the login placeholder
      {% endblock %}</div>
    </div>
  </body>
</html>
